* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

#navbar {
  justify-content: center;
  height: 100%;
  width: 25%;
  position: fixed;
  overflow: auto;
  padding: 10px;
}

#navbar header {
  margin: auto;
  font-size: 1rem;
  padding: 5px 2px;
}
#navbar ul {
  list-style-type: none;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#navbar ul li {
  text-decoration: none;
  padding: 5px 20px;
  border-bottom: 1px solid #222;
  margin: 0;
}

#navbar ul li a {
  text-decoration: none;
  margin: 0;
  color: #222;
}

#main-doc {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}

@media screen and (max-width: 900px) {
  #navbar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #main-doc {
    margin: auto;
  }
}
